/* Univeral Styles */

body {
    margin: 0;
    top: 0;
    font-family: Helvetica;
}

/* Header Styles */

header {
    text-align: center;
    background-color: black;
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
}

header a {
    text-decoration: none;
    color: white;
}

/* Main Styles */

.main {
    margin-top: 120px;
    display: flex;
    justify-content: space-around;
}

.img_con img {
    height: 350px;
    width: auto;
}

#iron_kettle {
    cursor: pointer;
}

#pendant_lamp {
    cursor: pointer;
}

#sweeper_dustpan {
    cursor: pointer;
}

/* Overlay Styles */

.overlay {
    width: 295px;
    height: 354px;
    display: flex;
    justify-content: space-between;
}

.icon_con {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 11px;
}

.hidden {
    visibility: hidden;
}

/* Footer Styles */

footer {
    background-color: #ebdfdf;
    height: 50px;
}

footer h5 {
    margin-left: 20px;
}